@{
    ViewBag.Title = "Home Page";
}


<div class="row mt-3">
    <div class="col-md-6">
        <h3 class="text-center">Дорогие друзья! Приветствую вас на своем блоге!</h3>
        <p>
            Эта площадка является эффективной и оперативной формой коммуникаций со всеми, кто интересуется университетом «Туран». Надеюсь, реализация диалога и обратной связи будет работать на снижение административных барьеров, генерирование ваших идей, предложений и воплощение их в жизнь.
            Можете задавать свои вопросы, оставлять пожелания, делиться мнением. На все ваши вопросы вы получите ответы.
        </p>
        <h5>Желаю вам всего наилучшего.</h5>
        <h5 class="d-flex justify-content-end">Ректор, д.э.н.,</h5>
        <h5 class="d-flex justify-content-end" >профессор Р.А. Алшанов</h5>
    </div>
    <div class="col-md-4">
        <img src="https://turan-edu.kz/wp-content/uploads/2017/02/Untitled-3.jpg"/>
    </div>
</div>
   