@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href='@Url.Content("~/Content/animate.css")' rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

</head>

<div class="row mt-5 mb-5">
    <div class="col-md-6 wow fadeInLeft">
        <h3 class="text-center">Дорогие друзья! Приветствую вас на своем блоге!</h3>
        <p>
            Эта площадка является эффективной и оперативной формой коммуникаций со всеми, кто интересуется университетом «Туран». Надеюсь, реализация диалога и обратной связи будет работать на снижение административных барьеров, генерирование ваших идей, предложений и воплощение их в жизнь.
            Можете задавать свои вопросы, оставлять пожелания, делиться мнением. На все ваши вопросы вы получите ответы.
        </p>
        <h5>Желаю вам всего наилучшего.</h5>
        <h5 class="d-flex justify-content-end">Ректор, д.э.н.,</h5>
        <h5 class="d-flex justify-content-end">профессор Р.А. Алшанов</h5>
    </div>
    <div class="col-md-4 ml-5 wow fadeInRight">
        <img src="https://turan-edu.kz/wp-content/uploads/2017/02/Untitled-3.jpg" />
    </div>
</div>

<script src='@Url.Content("~/Scripts/wow.min.js")' type="text/javascript"></script>
<script>
    new WOW().init();
</script>

<hr class="my-4" />
<h2 class="text-center mb-3">Часто задаваемые вопросы</h2>
<hr class="my-4" />
@*<div class="accordion mt-5" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>*@
<style>
    a:hover, a:focus {
        text-decoration: none;
        outline: none;
    }

    #accordion .panel {
        border: 1px solid #bf6026;
        border-radius: 0;
        box-shadow: none;
        margin-left: 50px;
        margin-bottom: 12px;
    }

    #accordion .panel-heading {
        padding: 0;
        background: #fff;
        position: relative;
    }

        #accordion .panel-heading:before,
        #accordion .panel-heading:after {
            content: "";
            border-right: 8px solid #bf6026;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            position: absolute;
            top: 12px;
            left: -9px;
        }

        #accordion .panel-heading:after {
            border-right: 7px solid #fff;
            border-bottom: 7px solid transparent;
            border-top: 7px solid transparent;
            position: absolute;
            top: 13px;
            left: -6px;
        }

    #accordion .panel-title a {
        display: block;
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        font-weight: 600;
        color: #bf6026;
        position: relative;
    }

        #accordion .panel-title a:before,
        #accordion .panel-title a.collapsed:before {
            content: "\f068";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 15px;
            color: #bf6026;
            text-align: center;
            border: 1px solid #bf6026;
            position: absolute;
            top: 0;
            left: -50px;
            transition: all 0.5s ease 0s;
        }

        #accordion .panel-title a.collapsed:before {
            content: "\f067";
        }

    #accordion .panel-body {
        padding: 0 15px 15px;
        border: none;
        font-size: 14px;
        color: #807e7e;
        line-height: 28px;
    }

        #accordion .panel-body p {
            margin-bottom: 0;
        }
</style>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Section 1
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Section 2
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Section 3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
            </div>
        </div>
    </div>
</div>